/* Barlow */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
/* Fraunces */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --yellow-pale: hsl(50, 100%, 66%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --bg-color: #fffbf8;
  --font-fraunces: "Fraunces", serif;
  --font-barlow: "Barlow", sans-serif;
  --header-image-color: #3dbeff;
  --sky-pale: #6fcdff;
  --footer-color: #90d4c6;
}
/*
desktop = 1000px - 1440px - 1990px

tablet = 720px

phone = 375px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-barlow);
}
html {
  background-color: var(--bg-color);
}
a,
li {
  text-decoration: none;
  list-style: none;
}
a,
button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
  border: none;
}
